*{
		box-sizing: border-box;
		}


body{
	background-color: lightblue ;
}


.main-container{
	width: 100%;
}


.innerbox-1,.innerbox-2,.innerbox-3,.innerbox-4{
			margin: 30px;
			padding: 30px;
			float: left;

		}

		.innerbox-1{
			margin-left: 100px;
			margin: 37px;
			padding: 30px;
		
			width: 175px;
			opacity: 0.8;
			background-position: top left ;
			height: 200px;
			text-align: center;

			
		}
		.innerbox-2{
			
			margin: 37px;
			padding: 30px;
		
			width: 175px;
			opacity: 0.8;
			background-position: top left ;
			height: 200px;
			text-align: center;
		}

		.innerbox-3{
			margin: 37px;
			padding: 30px;
			width: 175px;
			opacity: 0.8;
			background-position: top left ;
			height: 200px;
			text-align: center;
		}

		.innerbox-4{
			margin-right: 100px;
			margin: 37px;
			padding: 30px;
			width: 175px;
			opacity: 0.8;
			background-position: top left ;
			height: 200px;
			text-align: center;
		}









.row::after{
			clear: both;
			content: "";
			display: table;
		}
		[class*="col-"]{
    width: 100%;
}
		




@media only screen and (min-width:600px){
    .col-s-1{width: 8.33%;}
    .col-s-2{width: 16.66%;}
    .col-s-3{width: 25%;}
    .col-s-4{width: 33.33%;}
    .col-s-5{width: 41.66%;}
    .col-s-6{width: 50%;}
    .col-s-7{width: 58.33%;}
    .col-s-8{width: 66.66%;}
    .col-s-9{width: 75%;}
    .col-s-10{width: 83.33%;}
    .col-s-11{width: 91.66%;}
    .col-s-12{width: 100%;}   
}


@media only screen and (min-width:768px){
    .col-1{width: 8.33%;}
    .col-2{width: 16.66%;}
    .col-3{width: 25%;}
    .col-4{width: 33.33%;}
    .col-5{width: 41.66%;}
    .col-6{width: 50%;}
    .col-7{width: 58.33%;}
    .col-8{width: 66.66%;}
    .col-9{width: 75%;}
    .col-10{width: 83.33%;}
    .col-11{width: 91.66%;}
    .col-12{width: 100%;}
}









.container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around ;
	align-items: center;

	width: 95%;
	margin: 5px;
	height: 200px;
}


.container>div{
	display: inline-block;
	width: 150px;
	padding: 20px;
	text-align: center;
	margin: 5px;
	align-items: center;

}

.container>div>p{
	width: 240px;
text-align: left;
	

}









































	.fixed{
		position: absolute;
	right: 50px;
	
	border-radius: 25px;
	height: 200px;
	width: 300px;
	background-color:#34ced1;
	margin: 10px;
	font-family: serif;
	font-size: 25px;
	text-align: left;
	padding: 25px;
	bottom: 160px;
}



.dj3{
	position: absolute;
	right: 175px;
	top: 10px;
	border-radius: 25px;
	height: 200px;
	width: 400px;
	background-color:#4c868f;
	
}

.font{
	font-family: cursive;
}

.font-w{
	margin: 10px;
	font-family: cursive;
	font-size: 30px;
	text-align: left;
	padding: 10px;
	z-index: 0 ;

}


.frea{
	top: 10px;
	padding: 30px;
	background-color: lightblue;
	
}



.container1{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around ;
	align-items: center;

	width: 95%;
	margin: 5px;
	height: 200px;
}

.pf{
	margin: 10px;
	font-size: 15px;
}

.container1>div{
	display: inline-block;
	width: 150px;
	padding: 20px;
	text-align: center;
	margin: 5px;
	align-items: center;

}

.container1>div>p{
	width: 240px;
text-align: left;
	

}


.fa {
  padding: 20px;
  font-size: 30px;
  width: 49px;
  text-align: center;
  border-radius: 25px;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}



.fa-twitter {
  background: #55ACEE;
  color: white;
}




.amrl{
	position: fixed;
	right: 5px; bottom: 5px;

}



.nav li{
			display: inline-block;
			padding: 10px;
			width: 100px;


		}
		.nav a{
			text-decoration: none;
			color: red ;
			z-index: 5;
		}



.stickey{
	position: sticky;
	top: 0px;
	padding: 30px;
	background-color: gray;
}
.container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around ;
	align-items: center;
	width: 80%;
	margin: 5px;
	height: 200px;
}

.pf{
	padding-right: 	250px;
	margin-right:150px ;
}
.pf2{
	padding-left: 100px;
}
.pf3{
	padding-right: 100px;
}
.pf4{
	padding-right: 100px;
}


.container>div{
	display: flex;
	flex-direction: row;
	width: 150px;
	padding: 20px;
	text-align: center;
	margin: 5px;
	align-items: center;

}

.container>div>p{
	width: 240px;
text-align: left;
	

}


.container1{
	width: 97%;
	display: flex;
	flex-direction: row;

}
.inner{
	text-align: center;
    font-family: cursive;
    padding: 5px;
    margin: 5px;
    width: 90%;
    padding: 2px;
}
.innerbox-1{
	  border: 7px solid green;
  padding-left: 12px;
  margin: 10px;

}

.stickey{
	position: sticky;
	top: 0px;
	padding: 30px;
	background-image: url("images/Screenshot 2023-12-04 135947.png");
}
.navbar{
	display: flex;
	flex-direction: row;
}
.nav li{
			display: inline-block;
			padding: 10px;
			width: 100px;


		}
		.nav a{
			text-decoration: none;
			color: red;
		}

@media only screen and (max width: 769px){
	.navbar{
		flex-direction: column;
	}
}


@media only screen and (max-width:768px){
			.container{
				flex-direction: column;
			
			
		}}



.top{
	top: 200px;
}


.mu .foot{
	
width: 33%; height: 140px;
border: 2px solid black;
			float: left;
			margin-bottom: 50px;
		}
.mu{
	padding-bottom: 30px;
}




.container102{
	width: 100%;
}
div>p,h3{
   font-family: cursive;
}
.col-3{
   float: left;
 
}


 /*phone view*/
[class*="col-"]{
   width: 100%;
}

/*tablet view*/
@media only screen and (min-width:600px){
   .col-s-1{width: 8.33%}
    .col-s-2{width: 16.66%}
    .col-s-3{width: 25%}
    .col-s-4{width: 33.33%}
    .col-s-5{width: 41.66%}
    .col-s-6{width: 50%}
    .col-s-7{width: 58.33%}
    .col-s-8{width: 66.66%%}
    .col-s-9{width: 75%}
    .col-s-10{width: 83.33%}
    .col-s-11{width: 91.66%}
    .col-s-12{width: 100%}
}
 /*pc view point*/
    @media only screen and (min-width:768px){
    .col-1{width: 8.33%}
    .col-2{width: 16.66%}
    .col-3{width: 25%}
    .col-4{width: 33.33%}
    .col-5{width: 42.66%}
    .col-6{width: 50%}
    .col-7{width: 58.33%}
    .col-8{width: 66.66%%}
    .col-9{width: 75%}
    .col-10{width: 83.33%}
    .col-11{width: 91.66%}
    .col-12{width: 100%}

 }



.mu .foot{
	
border: 2px solid black;
			float: left;
		
		}
.mu{
	padding-bottom: 30px;
}



.fa {
  padding: 10px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}

